parameters:
	ignoreErrors:
		-
			message: "#^Property Nucleos\\\\SetlistFm\\\\Builder\\\\ArtistSearchBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistSearchBuilder.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Builder\\\\ArtistSearchBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/ArtistSearchBuilder.php

		-
			message: "#^Property Nucleos\\\\SetlistFm\\\\Builder\\\\CitySearchBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/CitySearchBuilder.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Builder\\\\CitySearchBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/CitySearchBuilder.php

		-
			message: "#^Property Nucleos\\\\SetlistFm\\\\Builder\\\\SetlistSearchBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SetlistSearchBuilder.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Builder\\\\SetlistSearchBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/SetlistSearchBuilder.php

		-
			message: "#^Property Nucleos\\\\SetlistFm\\\\Builder\\\\VenueSearchBuilder\\:\\:\\$query type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/VenueSearchBuilder.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Builder\\\\VenueSearchBuilder\\:\\:getQuery\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Builder/VenueSearchBuilder.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/ConnectionInterface.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/ConnectionInterface.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection\\:\\:call\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection\\:\\:call\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection\\:\\:parseResponse\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection\\:\\:buildRequest\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/PsrClientConnection.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Artist\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Artist.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\ArtistSearchResult\\:\\:fromApi\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/ArtistSearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Artist\"\\.$#"
			count: 1
			path: src/Model/ArtistSearchResult.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\City\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/City.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\CitySearchResult\\:\\:fromApi\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/CitySearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\City\"\\.$#"
			count: 1
			path: src/Model/CitySearchResult.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Country\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Country.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\CountrySearchResult\\:\\:fromApi\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/CountrySearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Country\"\\.$#"
			count: 1
			path: src/Model/CountrySearchResult.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Geo\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Geo.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Set\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Set.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Setlist.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\\:\\:createSetsFromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Setlist.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\\:\\:createSetsFromApi\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Setlist.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\SetlistSearchResult\\:\\:fromApi\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/SetlistSearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\"\\.$#"
			count: 1
			path: src/Model/SetlistSearchResult.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Song\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Song.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Tour\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Tour.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\User\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/User.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\Venue\\:\\:fromApi\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/Venue.php

		-
			message: "#^Method Nucleos\\\\SetlistFm\\\\Model\\\\VenueSearchResult\\:\\:fromApi\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Model/VenueSearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Venue\"\\.$#"
			count: 1
			path: src/Model/VenueSearchResult.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\"\\.$#"
			count: 2
			path: src/Service/SetlistService.php

		-
			message: "#^Anonymous function should have native return typehint \"Nucleos\\\\SetlistFm\\\\Model\\\\Setlist\"\\.$#"
			count: 2
			path: src/Service/UserService.php

		-
			message: "#^Parameter \\#1 \\$client of class Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection constructor expects Psr\\\\Http\\\\Client\\\\ClientInterface, object given\\.$#"
			count: 6
			path: tests/Connection/PsrClientConnectionTest.php

		-
			message: "#^Parameter \\#2 \\$requestFactory of class Nucleos\\\\SetlistFm\\\\Connection\\\\PsrClientConnection constructor expects Psr\\\\Http\\\\Message\\\\RequestFactoryInterface, object given\\.$#"
			count: 6
			path: tests/Connection/PsrClientConnectionTest.php

		-
			message: "#^Static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertEquals\\(\\) invoked with 4 parameters, 2\\-3 required\\.$#"
			count: 4
			path: tests/Model/SetlistTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\ArtistService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 2
			path: tests/Service/ArtistServiceTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\CityService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 2
			path: tests/Service/CityServiceTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\CountryService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 1
			path: tests/Service/CountryServiceTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\SetlistService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 5
			path: tests/Service/SetlistServiceTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\UserService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 3
			path: tests/Service/UserServiceTest.php

		-
			message: "#^Parameter \\#1 \\$connection of class Nucleos\\\\SetlistFm\\\\Service\\\\VenueService constructor expects Nucleos\\\\SetlistFm\\\\Connection\\\\ConnectionInterface, object given\\.$#"
			count: 2
			path: tests/Service/VenueServiceTest.php

